:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	/* display: flex;
	place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

/* MY STYLES */

section h1 {
	text-align: center;
}

blockquote {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #de6262;
	width: 200px;
	padding: 1em;
	font-size: 1rem;
	border-radius: 5px;
}

blockquote figcaption {
	text-align: end;
	font-size: 0.8rem;
	font-style: italic;
}

.my-container {
	margin: 2em;
	text-align: center;
}

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.my-button {
	margin: 1em;
	font-size: 1.5rem;
	padding: 0.5em;
	min-width: 200px;
}

.main-title {
	margin: 0.6em 0;
}

.card {
	/* max-width: 300px; */
	width: 250px;
	padding: 1em;
	border-radius: 5px;
	background-color: #efefef;
}

.card h4 {
	color: #666666;
	text-align: center;
}

.card img {
	max-width: 100%;
}
.card-container {
	background-color: #4c4c4c;
	max-width: 80vw;
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	border-radius: 5px;
}

/* Loading effect*/
.newtons-cradle {
	--uib-size: 250px;
	--uib-speed: 1.2s;
	/* --uib-color: #474554; */
	--uib-color: #e3e3e3;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--uib-size);
	height: var(--uib-size);
}

.newtons-cradle__dot {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	width: 95%;

	transform-origin: center top;
}

.newtons-cradle__dot::after {
	content: "";
	display: block;
	width: 100%;
	height: 25%;
	border-radius: 50%;
	background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
	animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
	animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}

	25% {
		transform: rotate(70deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(0deg);
		animation-timing-function: linear;
	}
}

@keyframes swing2 {
	0% {
		transform: rotate(0deg);
		animation-timing-function: linear;
	}

	50% {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}

	75% {
		transform: rotate(-70deg);
		animation-timing-function: ease-in;
	}
}

.todo-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;
	grid-template-areas: "logic list";
}

.todo-logic-container {
	grid-area: logic;
}

.todo-list-container {
	grid-area: list;
}

.active-link {
	font-size: 1.2rem;
	transition: all 0.2s ease;
	font-weight: 700;
}

.active-link:hover {
	color: chocolate;
}

.my-items-nav {
	padding: 0.4em 1em;
}
